#app {
  font-family: microsoft jhenghei;
}

#app .cover {
  background-image: url(../img/photo_01.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  background-position: center;
}

#app .cover .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 50%;
  background-color: #fff;
}

#app .cover .content h1 {
  display: block;
  margin-top: 96px;
  margin-left: 255px;
  position: relative;
  font-size: 64px;
  line-height: 94px;
  margin-bottom: 0;
  width: 384px;
}

@media (max-width: 1599.98px) {
  #app .cover .content h1 {
    margin-left: 155px;
  }
}

@media (max-width: 1199.98px) {
  #app .cover .content h1 {
    position: absolute;
    margin: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -75%;
  }
}

@media (max-width: 767.98px) {
  #app .cover .content h1 {
    font-size: 54px;
    line-height: 72px;
  }
}

@media (max-width: 479.98px) {
  #app .cover .content h1 {
    width: 320px;
    padding: 30px;
    top: -85%;
    font-size: 36px;
    line-height: 48px;
  }
}

#app .cover .content h1 span {
  position: absolute;
  font-size: 20px;
  font-weight: 300;
  line-height: 36px;
  min-width: 215px;
  display: inline-block;
  padding: 12px 24px;
  padding-right: 0;
}

@media (max-width: 479.98px) {
  #app .cover .content h1 span {
    position: relative;
    font-size: 16px;
  }
}

#app .cover .content .text-content {
  bottom: 96px;
  right: 255px;
  margin-top: 64px;
  width: 450px;
  position: absolute;
  left: 45%;
}

@media (max-width: 1599.98px) {
  #app .cover .content .text-content {
    right: 155px;
  }
}

@media (max-width: 1499.98px) {
  #app .cover .content .text-content {
    left: auto;
    width: 40%;
  }
}

@media (max-width: 1399.98px) {
  #app .cover .content .text-content {
    width: 35%;
  }
}

@media (max-width: 1299.98px) {
  #app .cover .content .text-content {
    width: 30%;
  }
}

@media (max-width: 1199.98px) {
  #app .cover .content .text-content {
    left: 155px;
    width: calc(100% - 310px);
    position: relative;
    margin-top: 125px;
  }
}

@media (max-width: 767.98px) {
  #app .cover .content .text-content {
    left: 90px;
    right: 90px;
    width: calc(100% - 180px);
  }
}

@media (max-width: 479.98px) {
  #app .cover .content .text-content {
    width: 100%;
    left: 0;
    padding: 0 30px;
  }
}

#app .cover .content .text-content .btn-begin {
  height: 96px;
  width: 330px;
  display: block;
  background-color: #4F61FF;
  font-size: 32px;
  color: #fff;
  position: absolute;
  top: 0;
  right: -360px;
  border: 0;
}

@media (max-width: 1599.98px) {
  #app .cover .content .text-content .btn-begin {
    position: relative;
    margin-left: auto;
    margin-top: 30px;
    right: -180px;
  }
}

@media (max-width: 1499.98px) {
  #app .cover .content .text-content .btn-begin {
    right: 0;
  }
}

@media (max-width: 767.98px) {
  #app .cover .content .text-content .btn-begin {
    max-width: 100%;
  }
}

@media (max-width: 479.98px) {
  #app .cover .content .text-content .btn-begin {
    margin-left: 0;
    width: 100%;
    font-size: 24px;
    height: 64px;
  }
}

#app .test-form .quest-zone {
  position: fixed;
  width: 50%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F1F2FF;
}

@media (max-width: 767.98px) {
  #app .test-form .quest-zone {
    width: 100%;
    height: 30%;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .quest-zone {
    height: 25%;
  }
}

#app .test-form .quest-zone .btn-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 96px;
  height: 96px;
  background-color: #4f61ff;
  color: #fff;
  border: 0;
  font-size: 50px;
}

@media (max-width: 767.98px) {
  #app .test-form .quest-zone .btn-back {
    width: 72px;
    height: 72px;
    line-height: 72px;
    font-size: 36px;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .quest-zone .btn-back {
    width: 64px;
    height: 64px;
    line-height: 60px;
    font-size: 30px;
  }
}

#app .test-form .quest-zone .question {
  position: absolute;
  margin-left: 96px;
  margin-top: 96px;
  top: 0;
  bottom: 0;
  right: 30px;
  left: 0;
}

@media (max-width: 991.98px) {
  #app .test-form .quest-zone .question {
    margin-top: 72px;
    margin-left: 72px;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .quest-zone .question {
    margin-top: 60px;
    margin-left: 45px;
    right: 0;
  }
}

#app .test-form .quest-zone .question .big-q {
  font-size: 96px;
  margin-top: 144px;
  position: absolute;
}

@media (max-width: 1199.98px) {
  #app .test-form .quest-zone .question .big-q {
    font-size: 72px;
  }
}

@media (max-width: 991.98px) {
  #app .test-form .quest-zone .question .big-q {
    font-size: 64px;
    margin-top: 80px;
  }
}

@media (max-width: 767.98px) {
  #app .test-form .quest-zone .question .big-q {
    margin-top: 0;
    position: relative;
    vertical-align: top;
  }
}

@media (max-width: 767.98px) {
  #app .test-form .quest-zone .question .big-q {
    font-size: 56px;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .quest-zone .question .big-q {
    font-size: 40px;
  }
}

#app .test-form .quest-zone .question p {
  font-size: 36px;
  position: absolute;
  left: 50px;
  top: 280px;
}

@media (max-width: 1199.98px) {
  #app .test-form .quest-zone .question p {
    top: 240px;
  }
}

@media (max-width: 991.98px) {
  #app .test-form .quest-zone .question p {
    top: 180px;
    left: 30px;
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  #app .test-form .quest-zone .question p {
    position: relative;
    top: 0;
    display: inline-block;
    width: calc(100% - 135px);
    margin-top: 15px;
    left: 20px;
    font-size: 24px;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .quest-zone .question p {
    left: 10px;
    width: calc(100% - 85px);
    margin-top: 10px;
    font-size: 20px;
  }
}

#app .test-form .quest-zone .question .copyright {
  position: absolute;
  bottom: 64px;
  color: #00000060;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  font-weight: bold;
  left: 0;
}

@media (max-width: 767.98px) {
  #app .test-form .quest-zone .question .copyright {
    left: auto;
    bottom: auto;
    right: 0;
    top: -56px;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .quest-zone .question .copyright {
    top: -55px;
    right: 10px;
  }
}

#app .test-form .quest-zone .question .copyright .eng {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  font-weight: normal;
}

#app .test-form .select-zone {
  position: fixed;
  width: 50%;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
}

@media (max-width: 767.98px) {
  #app .test-form .select-zone {
    width: 100%;
    left: 0;
    top: 30%;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .select-zone {
    top: 25%;
  }
}

#app .test-form .select-zone .answers {
  position: absolute;
  left: 72px;
  top: 50%;
  right: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #app .test-form .select-zone .answers {
    left: 55px;
    top: 45%;
    right: 45px;
  }
}

@media (max-width: 767.98px) {
  #app .test-form .select-zone .answers {
    top: 42.5%;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .select-zone .answers {
    left: 30px;
    right: 25px;
  }
}

#app .test-form .select-zone .answers .ans {
  background-color: #fff;
  min-height: 280px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 12px;
  overflow: hidden;
}

@media (max-width: 1199.98px) {
  #app .test-form .select-zone .answers .ans {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  #app .test-form .select-zone .answers .ans {
    line-height: 30px;
  }
}

@media (max-width: 479.98px) {
  #app .test-form .select-zone .answers .ans {
    font-size: 16px;
  }
}

#app .test-form .select-zone .answers .ans > span {
  overflow: hidden;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

#app .test-form .select-zone .answers .ans input {
  width: 32px;
  height: 32px;
  border: 2px solid #000;
  float: left;
  margin-right: 5px;
  margin-top: 2.5px;
  cursor: pointer;
}

@media (max-width: 479.98px) {
  #app .test-form .select-zone .answers .ans input {
    width: 25px;
    height: 25px;
    margin-top: 3.5px;
  }
}

#app .test-form .select-zone .answers .ans label {
  width: calc(100% - 41px);
  float: left;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  #app .test-form .select-zone .answers .ans label {
    margin-bottom: 0;
  }
}

#app .test-form .select-zone .btn-next {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 96px;
  left: 0;
  right: 0;
  background-color: #4F61FF;
  font-size: 32px;
  line-height: 96px;
  color: #fff;
  padding-right: 24px;
  text-align: right;
  border: 0;
}

#app .test-form .select-zone .btn-next[disabled="disabled"] {
  background-color: #9da7ff;
}

@media (max-width: 479.98px) {
  #app .test-form .select-zone .btn-next {
    height: 60px;
    line-height: 60px;
    font-size: 24px;
  }
}

#app .final {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#app .final .result-top {
  top: 0;
  position: absolute;
  height: 50%;
  width: 100%;
  background: url(../img/photo_02.jpg);
  background-position: center;
  z-index: -1;
}

@media (max-width: 767.98px) {
  #app .final .result-top {
    height: 45%;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-top {
    height: 40%;
  }
}

#app .final .result-top .final-header .title {
  display: inline-block;
  margin-top: 24px;
  margin-left: 255px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

#app .final .result-top .final-header .title .subtitle {
  font-size: 12px;
  line-height: 18px;
  display: block;
}

@media (max-width: 1399.98px) {
  #app .final .result-top .final-header .title {
    margin-left: 135px;
  }
}

@media (max-width: 1199.98px) {
  #app .final .result-top .final-header .title {
    margin-left: 64px;
  }
}

@media (max-width: 767.98px) {
  #app .final .result-top .final-header .title {
    position: absolute;
    top: 100px;
    margin: 0;
    right: 30px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-top .final-header .title {
    top: 65px;
    right: 15px;
  }
}

#app .final .result-top .final-header .result-list {
  list-style: none;
  float: right;
  font-size: 16px;
  line-height: 24px;
  padding-left: 0;
  margin-top: 24px;
  margin-bottom: 0;
  margin-right: 64px;
}

@media (max-width: 767.98px) {
  #app .final .result-top .final-header .result-list {
    margin-right: 30px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-top .final-header .result-list {
    margin-top: 10px;
    margin-right: 15px;
  }
}

#app .final .result-top .final-header .result-list li {
  display: inline-block;
  margin-left: 48px;
}

@media (max-width: 1199.98px) {
  #app .final .result-top .final-header .result-list li {
    margin-left: 36px;
  }
}

@media (max-width: 991.98px) {
  #app .final .result-top .final-header .result-list li {
    margin-left: 0;
  }
}

#app .final .result-top .final-header .result-list li a {
  color: #fff;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  padding-bottom: 5px;
  border-bottom: 4px solid transparent;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-weight: normal;
}

@media (max-width: 991.98px) {
  #app .final .result-top .final-header .result-list li a {
    padding: 8px 14px;
  }
}

@media (max-width: 767.98px) {
  #app .final .result-top .final-header .result-list li a {
    padding: 8px 12px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-top .final-header .result-list li a {
    padding: 8px 6px;
    font-size: 12px;
  }
}

#app .final .result-top .final-header .result-list li a.active, #app .final .result-top .final-header .result-list li a:hover, #app .final .result-top .final-header .result-list li a:focus {
  border-color: #4F61FF;
  font-weight: bold;
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: 0;
}

#app .final .result-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  z-index: -1;
  bottom: 0;
}

@media (max-width: 767.98px) {
  #app .final .result-bottom {
    height: 55%;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom {
    position: relative;
    margin-top: 15%;
    height: auto;
  }
}

#app .final .result-bottom .result-content {
  position: absolute;
  top: -160px;
  left: 255px;
  color: #fff;
  display: block;
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .result-content .tab-pane {
    overflow: hidden;
  }
}

@media (max-width: 1399.98px) {
  #app .final .result-bottom .result-content {
    left: 135px;
  }
}

@media (max-width: 1199.98px) {
  #app .final .result-bottom .result-content {
    left: 64px;
  }
}

@media (max-width: 991.98px) {
  #app .final .result-bottom .result-content {
    top: -260px;
  }
}

@media (max-width: 767.98px) {
  #app .final .result-bottom .result-content {
    top: -62%;
    left: 30px;
    right: 30px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .result-content {
    position: relative;
    height: auto;
    top: auto;
    right: 0;
    left: 0;
    padding: 0 15px;
  }
}

#app .final .result-bottom .result-content .result-title {
  float: left;
  position: relative;
  font-size: 48px;
  line-height: 72px;
}

@media (max-width: 767.98px) {
  #app .final .result-bottom .result-content .result-title {
    font-size: 40px;
    line-height: 64px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .result-content .result-title {
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
  }
}

#app .final .result-bottom .result-content .result-title .sub-title {
  font-size: 24px;
  line-height: 36px;
  display: block;
  text-transform: capitalize;
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .result-content .result-title .sub-title {
    font-size: 18px;
    line-height: 20px;
  }
}

#app .final .result-bottom .result-content .result-defined {
  margin-left: 72px;
  width: 450px;
  height: 96px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  position: relative;
  float: left;
  margin-top: 10px;
}

@media (max-width: 991.98px) {
  #app .final .result-bottom .result-content .result-defined {
    margin-right: 64px;
    width: calc(100% - 136px);
  }
}

@media (max-width: 767.98px) {
  #app .final .result-bottom .result-content .result-defined {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .result-content .result-defined {
    font-size: 14px;
    line-height: 22px;
  }
}

#app .final .result-bottom .explain {
  position: relative;
  margin-top: 100px;
  clear: both;
  color: #000;
  float: left;
}

@media (max-width: 1599.98px) {
  #app .final .result-bottom .explain {
    margin-top: 65px;
  }
}

@media (max-width: 1199.98px) {
  #app .final .result-bottom .explain {
    margin-top: 55px;
  }
}

@media (max-width: 767.98px) {
  #app .final .result-bottom .explain {
    margin-top: 45px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .explain {
    margin-top: 15px;
  }
}

#app .final .result-bottom .explain .explain-title {
  font-size: 64px;
  line-height: 96px;
  margin-bottom: 16px;
  display: inline-block;
}

@media (max-width: 1199.98px) {
  #app .final .result-bottom .explain .explain-title {
    margin-bottom: 0;
    font-size: 56px;
    line-height: 72px;
  }
}

@media (max-width: 991.98px) {
  #app .final .result-bottom .explain .explain-title {
    font-size: 48px;
    line-height: 64px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .explain .explain-title {
    margin-top: 5px;
    font-size: 36px;
    line-height: 54px;
  }
}

#app .final .result-bottom .explain .explain-content {
  width: 810px;
  display: block;
  font-size: 24px;
  line-height: 36px;
  color: #00000098;
}

@media (max-width: 1599.98px) {
  #app .final .result-bottom .explain .explain-content {
    width: 53%;
  }
}

@media (max-width: 1199.98px) {
  #app .final .result-bottom .explain .explain-content {
    width: 65%;
  }
}

@media (max-width: 991.98px) {
  #app .final .result-bottom .explain .explain-content {
    font-size: 20px;
    line-height: 28px;
  }
}

@media (max-width: 767.98px) {
  #app .final .result-bottom .explain .explain-content {
    width: 100%;
    font-size: 18px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .explain .explain-content {
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    line-height: 20px;
  }
}

#app .final .result-bottom .explain .explain-content .explain-more {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
}

#app .final .result-bottom .btn-zone {
  position: absolute;
  right: 135px;
  bottom: 52px;
}

@media (max-width: 1199.98px) {
  #app .final .result-bottom .btn-zone {
    right: 64px;
  }
}

@media (max-width: 767.98px) {
  #app .final .result-bottom .btn-zone {
    right: 30px;
    bottom: 30px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .btn-zone {
    position: relative;
    right: 0;
    left: 0;
    width: calc(100% - 30px);
    margin: 0 15px;
    bottom: auto;
    margin-top: 10px;
  }
}

#app .final .result-bottom .btn-zone .btn {
  font-size: 32px;
  line-height: 48px;
}

#app .final .result-bottom .btn-zone .btn.last {
  padding: 25px 75px;
  border: 2px solid #000;
  border-radius: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media (max-width: 1199.98px) {
  #app .final .result-bottom .btn-zone .btn.last {
    padding: 20px 30px;
  }
}

@media (max-width: 991.98px) {
  #app .final .result-bottom .btn-zone .btn.last {
    padding: 10px 15px;
    font-size: 20px;
  }
}

@media (max-width: 479.98px) {
  #app .final .result-bottom .btn-zone .btn.last {
    width: 100%;
    font-size: 16px;
    line-height: 1;
  }
}

#app .final .result-bottom .btn-zone .btn.last:hover {
  background-color: #4f61ff;
  color: #fff;
}

#app .final .result-bottom .btn-zone .btn.last i {
  color: #000;
}

#app .final .result-bottom .btn-zone .btn.last:hover i {
  color: #fff;
}

#app .final .result-bottom .btn-zone .btn i {
  margin-left: 8px;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  color: #4F61FF;
}

@media (max-width: 991.98px) {
  #app .final .result-bottom .btn-zone .btn i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-left: 4px;
  }
}
/*# sourceMappingURL=style.css.map */